h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
}

header {
    width: 100%;
    height: 50px;
    background-color: blue;
}

section {
    width: 100;
    height: 100px;
    background-image: repeating-radial-gradient(blue, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me {
    width: 100%;
    height: 200px;
    background-color: blue;
}

#name {
    color: orange
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
