h1 {
    text-align: center;
}

body {
    background-color: darkgreen;
}

section {
    width: 100;
    height: 100px;
    background-image: repeating-radial-gradient(blue, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
